body{
    background-color: black;
    color: white;
}
h4{
    margin-bottom: 20px;
}

#minhaFoto{
 max-width: 15%;
}

p{
    max-width: 15%;
}
h5{
    margin-top: 20px;
    color: orange;
}
a{
    text-decoration: none;
    color: yellow;
    font-weight: bolder;
}