body {
    margin: 0;
    padding: 0;
    background-color: cornsilk;
}

header {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: brown;
    font-weight: bolder;
}

img {
    width: 100%;
}

#content,
#aside {
    width: 40%;
    display: grid;
    float: left;
    margin-left: 5%;
}


#content {
    margin-right: 10px;
}


span {
    font-size: 13pt;
    font-weight: bolder;

}

p {
    text-align: justify;
    text-justify: inter-word;
}

footer {
    background-color: black;
    color: white;
    clear: both;
    height: 50px;
    text-align: center;
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}